@import "mixins";

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}

.check50-container {
    position: relative;
    font-family: HelveticaNeue, Helvetica, sans-serif;
    margin: 10px;

    .check50-test {
        position: relative;
        display: block;
        margin-bottom: -1px;
        border: 1px solid #DDD;
    
        .check50-test-desc {
            font-size: .5em;
            padding: 10px 10px;
            text-shadow: 0px 1px 1px white;
            background-color: #F3F3F3;
            background-repeat: no-repeat;
            background-position: 0px;
            @include background-linear-gradient(top, #FAFAFA, #F3F3F3);        
            @include transition(.1s linear background-position);           

            &:hover {
                cursor: pointer;
                background-position: 0px -15px;
            }
     
            h1 {
                overflow: hidden;
                vertical-align: top;
                line-height: 16px;
                padding-bottom: 1px;
            }       
 
            .check50-test-indicator {
                height: 14px;
                width: 14px;
                border: 1px solid #AAA;
                display: inline-block;    
                vertical-align: middle;
                float: left;
                margin-right: 7px;   
            }
 
            &.success .check50-test-indicator {
                background-color: #CFC; 
            }

            &.error .check50-test-indicator {
                background-color: #FCC; 
            }
            
            &.dependency .check50-test-indicator {
                background-color: #FFC;
            } 

            .check50-test-expand {
                height: 0px;
                width: 0px;
                position: absolute;
                right: 10px;
                top: 11px;
                border: 7px solid transparent;
                border-right: 7px solid #888;  
            } 

            &.expanded .check50-test-expand {
                top: 15px;
                border: 7px solid transparent;
                border-top: 7px solid #888;  
            }
        }
    }

    .check50-diff {
        position: relative;
        font-family: Consolas, Courier New, monospace;
        font-size: 12px;
        border-top: 1px solid #DDD;
        display: none;
    
        table {
            border-collapse: collapse;
        }

        th {
            text-align: left;
        }

        td {
            .stderr, .exit, .exists {
                display: inline-block;
                font-size: 10px;
                padding: 3px 3px 0px 3px;
                color: white;
                border-radius: 3px;
                margin-top: -1px;
                line-height: 10px;
            }
           
            .stderr {
                background-color: red;
            }

            .exit {
                background-color: blue;
            }

            .exists {
                background-color: black;
            }
        }

        .line {
            padding: 3px 3px 1px 15px;
            background-color: #F3F3F3;
            color: #AAA;
            text-align: right;
        }

        .actual, .expected {
            padding: 3px 5px 1px 5px;
            width: 50%;
        }

        .actual {
            border-right: 1px solid #CCC;
        }

        .wrong {
            background-color: #FDD; 
        }

        .right {
            background-color: #DFD;
        }

        .dependency {
            padding: 10px 10px 8px 10px;
            background-color: #FFD;    
        
            ul {
                padding: 0px;
                margin: 0px;
                list-style-type: none;
            }
        }
    }
}
